.Palette-list {
  background-color: rgba(111, 111, 255, 0.824);
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.Palette-list .container {
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.Palette-list .nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: #fff;
  margin-bottom: 1rem;
  margin-top: 1rem;
}


.Palette-list .palettes {
  box-sizing: border-box;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-gap: 5%;
}