.Palette-list {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.Palette-list .container {
  width: 50%;
  display: flex;
  /* align-items: flex-start; */
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
}

.Palette-list .palettelist-logo {
  display: flex;
  align-items: center;
}

.Palette-list .palettelist-logo h1 {
  margin-left: 5px;
}

.Palette-list .palettelist-logo .palette-icon {
  color: #2bb7ef;
  font-size: 32px;
}

.Palette-list .nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  opacity: 0.9;
  justify-content: space-between;
  align-items: center;
  color: black;
  padding: 20px 100px;
  background-color: #fff;
  z-index: 1000;
  border-bottom: 2px solid #e9e9e9;
}

.Palette-list .nav a {
  text-decoration: none;
  color: black;
}

.Palette-list .palettes {
  padding-top: 100px;
  padding-bottom: 180px;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-gap: 5%;
}
