a {
  text-decoration: none;
}

.root {
  background-color: #fff;
  border-radius: 5px;
  padding: 1rem;
  position: relative;
  overflow: hidden;
  border: 2px solid black;
  height: 220px;
}

.root:hover {
  cursor: pointer;
}

.colors {
  height: 150px;
  width: 100%;
  background-color: #dae1e4;
  border-radius: 5px;
  overflow: hidden;
}

h5.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  color: black;
  padding: 0.5rem 0;
  font-size: 14px;
  position: relative;
}

.emoji {
  margin-left: 0.5rem;
  font-size: 1.3rem;
}

.colors .minicolor {
  height: 25%;
  width: 20%;
  display: inline-block;
  margin: 0 auto;
  position: relative;
  margin-bottom: -6.6px;
}