a {
  text-decoration: none;
}

.minipalette {
  background-color: #fff;
  border-radius: 5px;
  padding: 1rem;
  position: relative;
  overflow: hidden;
  border: 2px solid rgba(221, 211, 211, 0.74);
  height: 220px;
  cursor: pointer;
}

.minipalette:hover svg.trashIcon {
  opacity: 1;
}

.colors {
  height: 150px;
  width: 100%;
  background-color: #dae1e4;
  border-radius: 5px;
  overflow: hidden;
}

h5.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  color: black;
  padding: 0.5rem 0;
  font-size: 14px;
  position: relative;
}

.emoji {
  margin-left: 0.5rem;
  font-size: 1.3rem;
}

.colors .minicolor {
  height: 25%;
  width: 20%;
  display: inline-block;
  margin: 0 auto;
  position: relative;
  margin-bottom: -6.6px;
}

/* Delete icon */
.delete {
}

.trashIcon {
  color: #fff;
  width: 20px;
  height: 20px;
  background-color: #eb3d30;
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 5px;
  border-radius: 2px;
  z-index: 10;
  opacity: 0;
}
